{ 
  "APP_NAME": "PROJECT NAME",
  "APP_VERSION": "VERSION",
  "FIREBASE_API_KEY": "YOUR_FIREBASE_API_KEY",
  "FIREBASE_APP_ID": "YOUR_FIREBASE_APP_ID",
  "FIREBASE_MESSAGING_SENDER_ID": "YOUR_FIREBASE_MESSAGING_SENDER_ID",
  "FIREBASE_PROJECT_ID": "YOUR_FIREBASE_PROJECT_ID",
  "FIREBASE_STORAGE_BUCKET": "YOUR_FIREBASE_STORAGE_BUCKET",
  "BRASIL_API_BASE_URL": "https://brasilapi.com.br/api/pix/v1/"
}